<nav style="background-color: #000; line-height: 30px; height: 30px;">
	<div class="container">
		<div class="nav-wrapper">
			<div class="col s12">
				<a href="/" class="breadcrumb">Home</a>
			</div>
		</div>
	</div>
</nav>