<header>
	<nav>
		<div class="container">
			<div class="nav-wrapper">
			<a href="/" class="brand-logo">EStore</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/category/mens">Men's</a></li>
				<li><a href="/category/womens">Women's</a></li>
				<li><a href="/cart"><i class="material-icons left">shopping_cart</i><span class="cartitem">0</span></a></li>
			</ul>
			</div>
		</div>
	</nav>
</header>
